.to-right-top{
  background-image: linear-gradient(to right top, #f65858, #d95aa2, #8b75c9, #2083be, #008294);
}

.to-right{
  background-image: linear-gradient(to right, #f65858, #d95aa2, #8b75c9, #2083be, #008294);
}

.to-right-bottom{
  background-image: linear-gradient(to right bottom, #f65858, #d95aa2, #8b75c9, #2083be, #008294);
}

.to-bottom{
  background-image: linear-gradient(to bottom, #f65858, #d95aa2, #8b75c9, #2083be, #008294);
}

.to-left-bottom{
  background-image: linear-gradient(to left bottom, #f65858, #d95aa2, #8b75c9, #2083be, #008294);
}

.to-left{
  background-image: linear-gradient(to left, #f65858, #d95aa2, #8b75c9, #2083be, #008294);
}

.to-left-top{
  background-image: linear-gradient(to left top, #f65858, #d95aa2, #8b75c9, #2083be, #008294);
}

.to-top{
  background-image: linear-gradient(to top, #f65858, #d95aa2, #8b75c9, #2083be, #008294);
}

.to-circle{
  background-image: radial-gradient(circle, #f65858, #d95aa2, #8b75c9, #2083be, #008294);
}

.small-container {
  border-radius: 1rem;
  box-shadow: 0 1px 0.25rem gray;
  height: 17rem;
  width: 23rem;
  display: grid;
  color: #FFFAFA;
  transition: box-shadow 0.5s;
}

.small-container.active:hover {
  cursor: pointer;
  box-shadow: 0 0 1rem gray;
}

.small-container.active:active {
  background-image: none;
  background-color: var(--accent2);
}

.group-name {
  font-size: 21px;
  align-self: flex-end;
  padding-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 0;
  border-bottom: 1px solid #FFFAFA;
}

.group-description {
  margin: 0 20px;
}

.groups-container {
  margin: 0 20px;
  width: 35%;
}

.groups-container > *:not(:last-child) {
  border-bottom: 1px solid var(--offblack);
}

.med-container {
  color: var(--offblack);
  padding: 20px 0;
}

.med-container:hover {
  cursor: pointer;
}

.med-container:active {
  color: var(--accent2);
}

.med-group-name {
  margin: 10px 0;
}

.med-group-description {
  margin: 10px 0;
}
