.events-container {
  margin: 0 auto;
  width: 35%;
  padding-bottom: 160px;
}

.events-container > *:not(:last-child) {
  border-bottom: 1px solid var(--offblack);
}

.event-item {
  padding: 20px 0;
}

.event-item:hover {
  cursor: pointer;
}

.event-item:active > * {
  color: var(--accent2);
}

.event-item > * {
  margin: 5px 0;
}

.event-name {
  font-size: 21px;
  font-weight: 600;
}

.hosted-by {
  color: gray;
}

.date-time {
  font-size: 16px;
  color: 	var(--datetime);
  font-weight: bold;
}
