.splash-body {
  margin: 10rem auto;
  max-width: 62.5%;
  /* min-width: 25%; */
  display: grid;
  grid-template-areas:
    "a b"
    "c c";
}

.text {
  margin: 20px;
}

.text > h1 {
  font-size: 35px;
  font-weight: bold;
  width: 100%;
}

.image {
  justify-self: end;
}

.preview-container {
  grid-area: c;
  display: flex;
  justify-content: center;
}

.preview-container > * {
  margin: 20px;
  flex-shrink: 0;
}
