html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

.auth-form {
  border: 1px solid gray;
  margin: 20px auto;
  display: grid;
  padding: 20px;
  box-sizing: border-box;
  width: 450px;
  border-radius: 10px;
  background-color: ghostwhite;
}

.auth-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.auth-input {
  border-radius: 3px;
  border: 1px solid gray;
  margin-top: 4px;
  padding: 3px 5px;
}

.auth-button {
  display: flex;
  width: 25%;
  justify-self: flex-end;
  justify-content: center;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 2px 0;
}

.auth-button:hover {
  cursor: pointer;
}

.auth-button:active {
  background-color: lightgray;
  color: gray;
  border-color: rgba(128, 128, 128, 0.75);
}

.error-list {
  list-style: none;
  margin: 0;
  padding: 20px;
  background-color: rgba(255, 0, 0, 0.25);
  border-radius: 10px;
  margin-bottom: 20px;
  color: brown;
}

.error-item {
  padding: 5px 0;
}
